<div class="commentBox">
  <span><strong>1. <%= records.input3 %></strong></span><br>
  <span><strong>2.<%= records.input2 %></strong></span><br>
  <span><strong>1.<%= records.input1 %></strong></span><br>
  <span><strong><%= records.input9 %></strong></span><br>
</div>
