<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/partial_2") %>
  </head>
  <body>
    <%- include("./partials/partial_1") %>
    <div class="new_main">
      <h1>HOW TO CREATE A PIE BY USING PYTHON (PYGAL&LXML)</h1>
      <h5>6 April 2021, Abdulhakim Altunkaya</h5>
      <p>Hello everybody,<br><br>
      In this article we will create a simple python pie to test our skills and learn new functions.<br><br>
      I am using python editor IDLE 3.9
      </p>
      <p>
      To make a pie with python we will need to go through 3 steps:<br><br>
      1.	Download Python full pack from internet <br>
      2.	Download Python editor (like PYCHARM) or use default one(like IDLE) <br>
      3.	Download Python modules <br><br>
      I already assume you have gone through first two steps, so we can jump on third one.
      </p>
      <h2>DOWNLOAD MODULES</h2>
      <p>
      The modules we will need to download are called LXML and PYGAL. Modules are well organized Classes in python. They are both for free and available on  python website for download. PYGAL is needed for pie code, and LXML is needed to display(to render) our code on browser</p>
      <p>
      Type “lxml download python” in your browser and go to <a href="https://pypi.org/project/lxml/">python website</a>. You’ll see “pip install lxml” on the up-right side of you window. Copy this text then go to your command prompt. In your command prompt paste the text and press enter.</p>
      <img src="/assets/article_images/article4_img1.png" alt="this is a article image">
      <p>
      You’ll see a download appearing and saying the module downloaded successfully.</p>
      <p>
      Now, again go to your browser, type “pygal download python” and go to <a href="https://pypi.org/project/pygal/">python website</a>. Follow the same steps above, copy the text and paste it to your command prompt and press enter. Again, after seeing a successful completion note, we can move to next step. </p>
      <h2>WRITE YOUR CODE</h2>
      <p>On your text editor write a code like the one below. When starting your code, you’ll need to write “import   pygal”. But you don’t have to write “import lxml”</p>
      <img src="/assets/article_images/article4_img2.png" alt="this is a article image">
      <p>Save it and run (on IDLE, you can run your code with F5 button.)</p>
      <img src="/assets/article_images/article4_img3.png" alt="this is a article image">
      <p>Thank you for reading, Regards <br>
      abdulhakim
      </p>
      <%- include("./partials/partial_a4") %>
      <%- include("./partials/partial_4") %>
    </div>

  </body>
</html>
