<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/partial_2") %>
  </head>
  <body>
    <%- include("./partials/partial_1") %>
    <div class="new_main">
      <h1>HOW LOAD IMAGES ON NODE.JS WEBSITE (WHICH IS HOSTED ON HEROKU)?</h1>
      <h4>26 June 2021, Abdulhakim Altunkaya</h4>
      <p>Hello everybody,<br><br>
      <p>When you put some images on your codebase and you see your code running, text displaying but images not, then this might because of not refering in correct way to your images. To use images (and also stylesheets), you need to put them inside a static folder. Simple steps:</p>
      1) create a folder on the main dir of your codebase and name it anything (we can name it "static"). <br>
      2) then place your images inside.<br>
      3) then go to your main node.js file (You should name it as "app.js" or "server.js") and copy paste as the highlighted area to your file.<br> <br>
      <img src="/assets/article_images/article5_img1.png" alt="this is a article image" style="border: 2px solid red; border-radius: 20px;"> <br><br>
      4) Then go to any ejs or html file you are using and refer to your image like this <br><br>
      <img src="/assets/article_images/article5_img2.png" alt="this is a article image" style="border: 2px solid red; border-radius: 20px;">
      <p>For now that’s all. <br>
      Regards, Abdulhakim <br>
      </p>
      <%- include("./partials/partial_a5") %>
      <%- include("./partials/partial_4") %>
    </div>

  </body>
</html>
