<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/partial_2") %>
  </head>
  <body>
    <%- include("./partials/partial_1") %>

    <div class="new_main">
      <h2>WELCOME TO ARTICLEMOOSE.CO.UK</h2>
      <p>For some articles contaning useful information, please mouse over the logo. Image buttons below are for future use purposes, no need to click them.</p>
      <div class="indexArea">
        <div class="indexImagesDiv">
          <img class="indexImages" src="/assets/article_images/article0_img1.jpg" alt="this is a article image"><br>
          <div>Software Development</div>
        </div>
        <div class="indexImagesDiv">
          <img class="indexImages" src="/assets/article_images/article0_img2.jpg" alt="this is a article image"><br>
          <div>Astronomy</div>
        </div>
        <div class="indexImagesDiv">
          <img class="indexImages" src="/assets/article_images/article0_img3.jpg" alt="this is a article image"><br>
          <div>Culture&Life</div>
        </div>
        <div class="indexImagesDiv">
          <img class="indexImages" src="/assets/article_images/article0_img4.jpg" alt="this is a article image"><br>
          <div>Economy</div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>Photo by luis gomes from IMAGE 1<a href="https://www.pexels.com/">Pexels</a></p>
      <p>Photo by Lucas Pezeta from IMAGE 2 <a href="https://www.pexels.com/">Pexels</a></p>
      <p>Photo by Jose Francisco Fernandez Saura from IMAGE 3 <a href="https://www.pexels.com/">Pexels</a></p>
      <p>Photo by David McBeea from IMAGE 4 <a href="https://www.pexels.com/">Pexels</a></p>
    </div>

  </body>
</html>
