<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/partial_2") %>
  </head>
  <body>
    <%- include("./partials/partial_1") %>

    <div class="new_main">
      <h2>WELCOME TO ARTICLEMOOSE.CO.UK</h2>
      <p>For some articles contaning useful information, please mouse over the logo.</p>
    </div>

  </body>
</html>
