<table class="content-table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Number of Job ads</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>SQL</td>
      <td>315196</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Java</td>
      <td>266540</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Python</td>
      <td>249685</td>
    </tr>
    <tr>
      <td>4</td>
      <td>HTML</td>
      <td>249341</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Javascript</td>
      <td>241634</td>
    </tr>
    <tr>
      <td>6</td>
      <td>C++</td>
      <td>226826</td>
    </tr>
    <tr>
      <td>7</td>
      <td>CSS</td>
      <td>214299</td>
    </tr>
    <tr>
      <td>8</td>
      <td>.NET</td>
      <td>103933</td>
    </tr>
    <tr>
      <td>9</td>
      <td>NODE.JS</td>
      <td>91031</td>
    </tr>
    <tr>
      <td>10</td>
      <td>AWS</td>
      <td>89836</td>
    </tr>
    <tr>
      <td>11</td>
      <td>ASP.NET</td>
      <td>86390</td>
    </tr>
    <tr>
      <td>12</td>
      <td>C#</td>
      <td>68326</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Azure</td>
      <td>57609</td>
    </tr>
    <tr>
      <td>14</td>
      <td>postgreSQL</td>
      <td>52204</td>
    </tr>
    <tr>
      <td>15</td>
      <td>mySQL</td>
      <td>48096</td>
    </tr>
    <tr>
      <td>16</td>
      <td>React.js</td>
      <td>46662</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Kubernetes</td>
      <td>41564</td>
    </tr>
    <tr>
      <td>18</td>
      <td>MongoDB</td>
      <td>35376</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Angular</td>
      <td>29119</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Docker</td>
      <td>27828</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Typescript</td>
      <td>25895</td>
    </tr>
    <tr>
      <td>22</td>
      <td>jQuery</td>
      <td>24475</td>
    </tr>
    <tr>
      <td>23</td>
      <td>PERL</td>
      <td>23466</td>
    </tr>
    <tr>
      <td>24</td>
      <td>REST API</td>
      <td>22492</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Ruby</td>
      <td>20587</td>
    </tr>
    <tr>
      <td>26</td>
      <td>PHP</td>
      <td>18370</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Google Cloud</td>
      <td>16478</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Apache</td>
      <td>11776</td>
    </tr>
    <tr>
      <td>29</td>
      <td>React Native</td>
      <td>11148</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Golang</td>
      <td>10962</td>
    </tr>
    <tr>
      <td>31</td>
      <td>NGINX</td>
      <td>10013</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Redux</td>
      <td>8627</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Kotlin</td>
      <td>7189</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Vue</td>
      <td>7038</td>
    </tr>
    <tr>
      <td>35</td>
      <td>Ruby on Rails</td>
      <td>6958</td>
    </tr>
    <tr>
      <td>36</td>
      <td>Swift</td>
      <td>5430</td>
    </tr>
    <tr>
      <td>37</td>
      <td>Django</td>
      <td>5365</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Blockchain</td>
      <td>4997</td>
    </tr>
    <tr>
      <td>39</td>
      <td>Webpack</td>
      <td>3641</td>
    </tr>
    <tr>
      <td>40</td>
      <td>Unity</td>
      <td>3084</td>
    </tr>
    <tr>
      <td>41</td>
      <td>Flask</td>
      <td>3049</td>
    </tr>
    <tr>
      <td>42</td>
      <td>Rust</td>
      <td>2073</td>
    </tr>
  </tbody>
</table>
