<table class="content-table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Number of Job ads</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>SQL</td>
      <td>267301</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Python</td>
      <td>218561</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Java</td>
      <td>217048</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Javascript</td>
      <td>195936</td>
    </tr>
    <tr>
      <td>5</td>
      <td>HTML</td>
      <td>180724</td>
    </tr>
    <tr>
      <td>6</td>
      <td>C++</td>
      <td>171690</td>
    </tr>
    <tr>
      <td>7</td>
      <td>CSS</td>
      <td>159484</td>
    </tr>
    <tr>
      <td>8</td>
      <td>AWS</td>
      <td>109176</td>
    </tr>
    <tr>
      <td>9</td>
      <td>.NET</td>
      <td>77384</td>
    </tr>
    <tr>
      <td>10</td>
      <td>NODE.JS</td>
      <td>72710</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Azure</td>
      <td>63612</td>
    </tr>
    <tr>
      <td>12</td>
      <td>ASP.NET</td>
      <td>60524</td>
    </tr>
    <tr>
      <td>13</td>
      <td>C#</td>
      <td>57510</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Kubernetes</td>
      <td>44490</td>
    </tr>
    <tr>
      <td>15</td>
      <td>postgreSQL</td>
      <td>42205</td>
    </tr>
    <tr>
      <td>16</td>
      <td>mySQL</td>
      <td>37674</td>
    </tr>
    <tr>
      <td>17</td>
      <td>React.js</td>
      <td>37519</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Docker</td>
      <td>35677</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Angular</td>
      <td>28669</td>
    </tr>
    <tr>
      <td>20</td>
      <td>MongoDB</td>
      <td>26556</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Typescript</td>
      <td>26227</td>
    </tr>
    <tr>
      <td>22</td>
      <td>PERL</td>
      <td>21276</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Ruby</td>
      <td>21054</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Google Cloud</td>
      <td>19802</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Rest API</td>
      <td>18147</td>
    </tr>
    <tr>
      <td>26</td>
      <td>jQuery</td>
      <td>17851</td>
    </tr>
    <tr>
      <td>27</td>
      <td>PHP</td>
      <td>15544</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Blockchain</td>
      <td>14497</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Apache</td>
      <td>12160</td>
    </tr>
    <tr>
      <td>30</td>
      <td>React Native</td>
      <td>11032</td>
    </tr>
    <tr>
      <td>31</td>
      <td>Golang</td>
      <td>10116</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Redux</td>
      <td>9906</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Vue</td>
      <td>8112</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Swift</td>
      <td>7529</td>
    </tr>
    <tr>
      <td>35</td>
      <td>Kotlin</td>
      <td>7070</td>
    </tr>
    <tr>
      <td>36</td>
      <td>NGINX</td>
      <td>7009</td>
    </tr>
    <tr>
      <td>37</td>
      <td>Django</td>
      <td>6731</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Webpack</td>
      <td>6208</td>
    </tr>
    <tr>
      <td>39</td>
      <td>Ruby on Rails</td>
      <td>6033</td>
    </tr>
    <tr>
      <td>40</td>
      <td>Flask</td>
      <td>4126</td>
    </tr>
    <tr>
      <td>41</td>
      <td>Rust</td>
      <td>3811</td>
    </tr>
    <tr>
      <td>42</td>
      <td>Unity</td>
      <td>3568</td>
    </tr>
  </tbody>
</table>
