<table class="content-table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Number of Job ads</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>REST API</td>
      <td>459</td>
    </tr>
    <tr>
      <td>2</td>
      <td>AWS</td>
      <td>266</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Python</td>
      <td>250</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Javascript</td>
      <td>240</td>
    </tr>
    <tr>
      <td>5</td>
      <td>React Native</td>
      <td>236</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Golang</td>
      <td>228</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Docker</td>
      <td>213</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Java</td>
      <td>208</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Kubernetes</td>
      <td>193</td>
    </tr>
    <tr>
      <td>10</td>
      <td>React.js</td>
      <td>184</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Typescript</td>
      <td>111</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Node.js</td>
      <td>109</td>
    </tr>
    <tr>
      <td>13</td>
      <td>SQL</td>
      <td>103</td>
    </tr>
    <tr>
      <td>14</td>
      <td>postgreSQL</td>
      <td>99</td>
    </tr>
    <tr>
      <td>15</td>
      <td>HTML</td>
      <td>97</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Google Cloud</td>
      <td>87</td>
    </tr>
    <tr>
      <td>17</td>
      <td>C++</td>
      <td>86</td>
    </tr>
    <tr>
      <td>18</td>
      <td>mySQL</td>
      <td>80</td>
    </tr>
    <tr>
      <td>19</td>
      <td>mongoDB</td>
      <td>79</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Azure</td>
      <td>78</td>
    </tr>
    <tr>
      <td>21</td>
      <td>CSS</td>
      <td>73</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Kotlin</td>
      <td>67</td>
    </tr>
    <tr>
      <td>23</td>
      <td>PHP</td>
      <td>65</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Angular</td>
      <td>51</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Ruby</td>
      <td>50</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Vue</td>
      <td>46</td>
    </tr>
    <tr>
      <td>27</td>
      <td>C#</td>
      <td>42</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Redux</td>
      <td>39</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Django</td>
      <td>39</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Webpack</td>
      <td>34</td>
    </tr>
    <tr>
      <td>31</td>
      <td>Swift</td>
      <td>32</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Ruby on Rails</td>
      <td>30</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Rust</td>
      <td>27</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Perl</td>
      <td>10</td>
    </tr>


  </tbody>
</table>
